/src/pybiblionet/tests/15minute_articles.csv
/src/pybiblionet/tests/15minute_authors.csv
/src/pybiblionet/tests/15minute_citation_graph.GML
/src/pybiblionet/tests/15minute_coauthorship_graph.GML
/src/pybiblionet/tests/cluster_and_fields_citation.csv
/src/pybiblionet/tests/metrics_and_fields_citation.csv
/src/pybiblionet/tests/metrics_and_fields_coauthorship.csv
/src/pybiblionet/tests/cache/
/src/pybiblionet/tests/query_results/
**/.*/
**/__*/
/src/pybiblionet/tests/15minute_venues.csv
/src/pybiblionet/tests/scopus/
/src/pybiblionet/tests/text_pybibx.py
/src/pybiblionet/tests/15minute_institutions.csv
/dist/
/src/pybiblionet/tests/exports/
/src/pybiblionet.egg-info/
/src/pybiblionet/tests/cache/
/src/pybiblionet/tests/cache/
/src/pybiblionet/tests/cache.zip
